/* =========================
   GOOGLE FONT
========================= */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* =========================
   ROOT
========================= */

:root{

--bg:#0B1220;
--surface:#111827;
--surface2:#1A2435;
--border:#263244;

--primary:#6366F1;

--text:#F8FAFC;
--muted:#94A3B8;

--radius:18px;
}

/* =========================
   APP
========================= */

html,
body,
[class*="css"]{

font-family:'Inter',sans-serif;

background:var(--bg);

color:var(--text);
}

/* Remove Streamlit junk */

#MainMenu{

visibility:hidden;
}

footer{

visibility:hidden;
}

header{

visibility:hidden;
}

/* =========================
   MAIN
========================= */

.block-container{

max-width:1450px;

padding-top:35px;

padding-left:60px;

padding-right:60px;

padding-bottom:40px;
}

/* =========================
   HERO
========================= */

.hero{

padding:40px;

border-radius:24px;

background:var(--surface);

border:1px solid var(--border);

margin-bottom:35px;

box-shadow:0 10px 35px rgba(0,0,0,.25);
}

.hero h1{

font-size:54px;

font-weight:700;

margin-bottom:8px;
}

.hero p{

font-size:18px;

color:var(--muted);
}

/* =========================
   CARDS
========================= */

.card{

background:var(--surface);

border:1px solid var(--border);

border-radius:18px;

padding:24px;

margin-bottom:22px;

transition:.25s;
}

.card:hover{

transform:translateY(-3px);

border-color:var(--primary);
}

/* =========================
   BUTTON
========================= */

.stButton>button{

height:48px;

border-radius:12px;

background:var(--primary);

color:white;

border:none;

font-weight:600;

transition:.25s;
}

.stButton>button:hover{

transform:translateY(-2px);

background:#7376ff;
}

/* =========================
   INPUTS
========================= */

.stFileUploader{

background:var(--surface);

border:2px dashed var(--border);

border-radius:18px;

padding:18px;
}

/* =========================
   METRICS
========================= */

div[data-testid="stMetric"]{

background:var(--surface);

border-radius:18px;

padding:16px;

border:1px solid var(--border);
}

/* =========================
   SIDEBAR
========================= */

section[data-testid="stSidebar"]{

background:#0E1627;

border-right:1px solid var(--border);
}

/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar{

width:8px;
}

::-webkit-scrollbar-thumb{

background:#2D3A4F;

border-radius:10px;
}